{% extends "layout.html" %}

{% block body %}
    <br/>
    <br/>
    <hgroup class="center-align">
        <h1>Discover &amp; share phaser <span id="typey">plugins</span> for your games</h1>
        <h6>Find all the best community-made resources you need to jumpstart your phaser game development.</h6>
    </hgroup>
    <div class="row featured">
      <div class="col s12 m8 l8">
          <iframe seamless="seamless" scrolling="no" src="http://s.codepen.io/jdnichollsc/debug/EgkoWO" allowfullscreen="true"></iframe>
      </div>
      <div class="col s12 m4 l4">3</div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        $("#typey").typed({
            strings: ["plugins", "extensions", "templates"],
            typeSpeed: 150,
            backSpeed:15,
            backDelay:1000,
            loop:true
        });
    });
</script>
{% endblock %}