<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="description" content="Plugins, extensions, templates, and resources for your Phaser games">
    <meta name="keywords" content="html5,javascript,mobile,phaser,phaser,games,canvas,market,2d,pixijs,pixi,plugins,extensions,templates">
    <meta name="author" content="Phaser Framework and Juan David Nicholls">
    <meta property="og:image" content="http://phaser.io/images/img.png">
    <title>Phaser Market</title>

    <!-- Open Graph - Facebook -->
    <meta property="og:site_name" content="Phaser Marketplace">
    <meta property="og:title" content="Home">
    <meta property="article:publisher" content="http://phaser.io">
    <meta property="og:locale" content="en_US">

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Phaser Marketplace">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Phaser Marketplace">
    <link rel="apple-touch-icon" href="http://phaser.io/images/img.png">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/multilevelmenu.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/animations.css" />
    {% block styles %}{% endblock %}
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="container nav-wrapper valign-wrapper">
                <a href="/" class="brand-logo left"></a>
                <ul id="nav-mobile" class="left hide-on-small-and-down">
                    <li><a class="waves-effect waves-purple white" href="/plugins">plugins</a></li>
                    <li><a class="waves-effect waves-purple white" href="/extensions">extensions</a></li>
                    <li><a class="waves-effect waves-purple white" href="/templates">templates</a></li>
                </ul>
                <ul class="right hide-on-small-and-down">
                    <!--<li><a class="waves-effect waves-purple" href="#">plugins</a></li>-->
                    <li><a class="waves-effect waves-purple btn">submit</a></li>
                </ul>
                <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up right"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li class="container">
                        <h2 class="purple-text text-darken-4">Menu</h2>
                    </li>
                    <li><a class="waves-effect waves-purple white" href="/plugins">plugins</a></li>
                    <li><a class="waves-effect waves-purple white" href="/extensions">extensions</a></li>
                    <li><a class="waves-effect waves-purple white" href="/templates">templates</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="pt-perspective">
        <div id="container" class="container pt-page pt-page-current pt-page-rotateSlideIn">
            {% block body %} This is the default content {% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.6/bluebird.min.js"></script>
    {% block scripts %}{% endblock %}
    <script>
        $(function(){

            var outClass = 'pt-page-rotateSlideOut',
				inClass = 'pt-page-rotateSlideIn';
            var $container = $("#container");
            $("a[href!='/']").on('click', function(){
                var newLocation = this.href;
                if(newLocation !== "javascript:void(0)"){
                    $container.removeClass(inClass).addClass(outClass);
                    setTimeout(function(){
                        window.location = newLocation;
                    }, 600);
                }
                return false;
            });

            $('.button-collapse').sideNav({
                //menuWidth: 300, // Default is 240
                edge: 'right', // Choose the horizontal origin
                closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
            });
        });
    </script>
</body>

</html>