/*body{
  background: url(/images/bg-body.jpg) no-repeat 50% 0;
  background-size: 100% auto;
}*/

.brand-logo{
  background: url(/images/phaser.png) no-repeat -188px 20px;
  width: 145px;
  height: 65px;
  margin-left: 5px;
}

nav{
  height: 88px;
  background: rgba(255,255,255,.98);
}

nav .right{
  position: absolute;
  right: 0;
}

#nav-mobile{
  padding-left: 170px;
}

.button-collapse{
    color: black;
}

nav ul a{
  font-size: 17px;
  color: #9faac0;
}

hgroup{
    position:relative;
    height: 160px;
}

hgroup h1{
    font-size: 48px;
    letter-spacing: -.04em;
}

hgroup h6{
    color: #aab3c1;
    font-size: 18px;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 15px;
    right: 0;
}

@media only screen and (max-width: 741px) {
    .hide-on-med-and-up {
        display:block !important
    }
}

@media only screen and (max-width: 740px) {
    .hide-on-small-only,.hide-on-small-and-down {
        display:none !important
    }
}

@media only screen and (min-width: 468px) and (max-width: 700px) {
    hgroup{
        height: 240px;
    }
}

@media only screen and (min-width: 370px) and (max-width: 467px) {
    hgroup{
        height: 285px;
    }
}

@media only screen and (max-width: 369px) {
    hgroup{
        height: 415px;
    }
}

#typey {
    color: #3782fe;
    font-weight: 400;
}

.typed-cursor {
    opacity: 1;
    color: #3782fe;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite;
}

.featured .m12{
    height: 350px;
}

.featured .m12 iframe{
    width: 100%;
    height: 100%;
    border: none;
}

@keyframes blink {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@-webkit-keyframes blink {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@-moz-keyframes blink {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}